.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page .top-games-carousel .carousel {
    height: 35em;
}

.home-page .home-page-games {
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
}
